<h1 style="color:Pink"><center> Home Page </center></h1>
<h4> <center>Logged in!</center></h4>
<br>
<h4 style="color:Pink"> <center> Menu </center></h4>
<br>
<b> <center><a href='/incomes'> Manage Income </a></center></b><br>
<b> <center><a href='/expenses'> Manage Expenses </a></center></b><br>
<b> <center><a href='/categories'> Manage Expense Categories </a></center></b><br>
<b> <center><a href='/icategories'> Manage Income Categories </a></center></b><br>
<center><%= link_to 'Logout', :action => 'logout' %> </center>